/* ==UserStyle==
@name Blackboard Stylesheet
@author Kenton Lam
@namespace KentonLam
@description Makes Blackboard look less ugly.
@version 0.2.1
==/UserStyle== */

/* Removed mozilla document declaration as it is incompatible with Safari (???) */
/* @-moz-document url-prefix("https://learn.uq.edu.au/") { */
    /* thanks UQ, I now hate open sans */
	/* matt edit: this is tasteful */
	@import url('https://rsms.me/inter/inter.css');

    * {
      	font-family: 'Inter', 'Arial', sans-serif; 
    }

	:root {
     	--main-color: #333333;
      	--gray-color: #999999;
      	--border-color: #FFFFFF;
    }

	/* make links fit the aesthetic */
	a {
     	color: var(--gray-color);
    }

	a:hover {
     	color: var(--border-color);
    }
    
    /* vector logo */
    .brandingImgWrap img {
        background-image: url(https://static.uq.net.au/v3/logos/corporate/uq-logo-white.svg);
        background-repeat: no-repeat;
        max-width: 180px;
        top: 19px;
        object-position: -99999px 10px; /* hack to hide original image */
    }

	/* resize columns */
	#column0 { width: 25% !important; }
    #column1 { width: 50% !important; }
    #column2 { width: 25% !important; }

    
/*  bring back the purple */
/* 	edit: no */
    #topTabs { background-color: var(--main-color)}
    
/*  hide the tiny but useless links button */
    #quick_links_wrap { display: none }
/*  hide the folder and reload icon from sidebar */
    .actionBarMicro { display: none }
/*  hide looong course title from breadcrumbs */
    .root.coursePath { display: none }
    
/*  fix ugly misaligned box when clicking links in left sidebar */
    .listCm .courseMenu a {
        margin: 0 4px 2px 2px; 
        padding: 6px 6px 6px 30px;
    }

/* 	make blackboard grey again */
	#courseMenuPalette div.navPaletteContent {
      	background-color: var(--main-color);
    }

	#courseMenuPalette_contents li {
      	background-color: var(--main-color);
    }
    
/*  remove excessive padding from top left menu */
    .appTabs a { padding: 8px; } 

    .appTabs td { 
        border-bottom: 3px solid #fff0; /* fix alignment of active vs inactive tabs. */
        padding-bottom: 0px !important; /* remove excessive padding */
    }

	.appTabs td.active { border-bottom: 3px solid var(--gray-color); }
    
/*  undo excessively high sidebar */
    .topTabs .tabWrapper-right { height: unset; }
    
/*  hide institution/course tabs on announcements */
    .localViewToggle { display: none }
    
/*  seamlessly merge page title with content box  */
    #pageTitleDiv {
        margin: 6px 30px 0 30px !important;
        padding: 15px 15px;
        background-color: #f3f3f3 !important;
        border: 1px solid #cdcdcd !important;
        border-bottom: 0px !important;
    }
    #pageTitleText { font-weight: bold; }
    #containerdiv { margin-top: 0 } /* remove space between title and content */
    
/*  why tf is there a strip of grey above the content */
    .contentPane .shadow { border-top: 6px  solid #fff0; }

/*  fix breadcrumbs path */
    .path .placeholder, .path li, .simplePath li { padding: 0 0 0 0;}
    .path a { padding: 0 }
    .path li:before { content: '»'; font-weight: normal; }
    .path .placeholder { font-weight: bold; }
    #breadcrumbs { padding-left: 19px; background-color: #f3f3f3 }
    
/*  hide help button in breadcrumbs */
    #breadcrumb_controls_id { display: none }
    
/*  make welcome header bars and borders NOT */
    .portlet h2 { background-color: var(--border-color); }
    .portlet { border-color: var(--border-color); }
/*  hide customisation bar */
    #actionbar { display: none}
/*  don't expand course rows when hovering */
    .menu-item li:hover { white-space: nowrap; background: #d4d4d4; border-top: 0px; border-bottom: 1px solid white; }
/*  vertically center semester headings & make black */
    .menu-item h4 {
    	line-height: 23px;
      	background-color: var(--main-color);
    }
    
/*  darker borders for boxes in welcome page */
    .portal nav { box-shadow: none; border: 1px solid #cdcdcd}
    
/*}*/

